* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    nav {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        .logo {
            width: 200px;
            height: 24px;
        }
        .navbar_ul{
            display: flex;
            .drpdwn,.portfolio-drpdwn,.blog-drpdwn,.elements-drpdwn{
                display: none;
                background-color: white;
                position: relative;
            }
        }
    }
}
.drpdwn-inner,.drpdwn-home,.drpdwn-pages,.drpdwn-list-product,.drpdwn-list-shoppages,.drpdwn-list-shoptypes{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    &:hover{
     background-color: #f1f1f1;
     display: block;
    }
}
.navbar_ul>li {
    z-index: 2;
    display: inline;
    position: relative;
    padding: 33px 0;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFF;
}

li {
    padding: 10px 0px ;
    display: inline;
}

li a {
    display: inline-block;
    color: #1B1B1B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

a {
    position: relative;
}

a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a:hover:before {
    visibility: visible;
    width: 100%;
}